<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyh.code.mapper.SysUserMapper">
  <resultMap id="BaseResultMap" type="com.hyh.code.pojo.SysUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="user_name" />
    <result column="login_name" jdbcType="VARCHAR" property="login_name" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="user_phone" jdbcType="VARCHAR" property="user_phone" />
    <result column="user_email" jdbcType="VARCHAR" property="user_email" />
    <result column="user_status" jdbcType="INTEGER" property="user_status" />
    <result column="org_id" jdbcType="VARCHAR" property="org_id" />
    <result column="role_id" jdbcType="INTEGER" property="role_id" />
    <result column="is_del" jdbcType="INTEGER" property="is_del" />
  </resultMap>


  <select id="login" resultType="com.hyh.code.pojo.SysUser">
    SELECT * from sys_user where login_name=#{login_name} and password=#{password}
  </select>


  <select id="findAll" resultType="java.util.Map" parameterType="com.hyh.code.pojo.SysUser">

    SELECT A.id,A.user_name,A.login_name,A.user_phone,A.user_email,A.user_status,A.org_id,A.role_id,
     B.org_name,B.org_short_name,C.role_name FROM sys_user A
    INNER JOIN org_info B ON B.org_id=A.org_id
    INNER JOIN sys_role C ON C.id=A.role_id
    where A.is_del=0
    <if test="org_id!=null">
      and A.org_id=#{org_id}
    </if>
    <if test="user_name!=null">
      and A.user_name=#{user_name}
    </if>
    <if test="login_name!=null">
      and A.login_name=#{login_name}
    </if>
  </select>


</mapper>